@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ------------------------ Bindings ------------------------ */

canvasbutton {
  -moz-binding: url('chrome://test/content/canvasbutton.xml#canvasbutton');
  -moz-box-orient: vertical;
  margin: 3px 1px 3px 1px;
}

canvasbutton[disabled="true"] {
  color: graytext !important;
}
