@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ----------------- Feed Information Deck ------------------ */

.caption-text {
  font-size: x-small;
}

.atom-feed-title {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 7px;
}

.atom-feed-subtitle {
  font-size: large;
  font-weight: bolder;
  margin-left: 7px;
}

.atom-rights {
  margin-left: 7px;
}

.atom-person-name {
  font-weight: bolder;
}

.atom-person-uri {
}

.atom-person-email {
}

.atom-person-separator {
  height: 0.5em;
}

.atom-label {
  font-weight: bolder;
  margin-left: 7px;
}

.atom-value {
}
