/*allgemeine Definition*/

html {font-size:100%;}
*html body { font-size:0.75em; }

html > body {font-size:12px}

body {
  	font-family: Arial, sans-serif;
	line-height: 1.5em;
	color:#333;
	margin:0px 20px;
	padding:0px;
	background-color: #FFFFFF;
 }

.bodywidth {
	max-width:800px;
	width:expression(document.body.clientWidth > 800  ? "802px": "auto");
	margin-right: auto;
	margin-left: auto;
}


/*font*/
h2, h3, h4, h5, h6{
	margin-top: 0px;
	margin-bottom: 0.8em;
	padding-top: 0.8em;
	line-height: 1.2em;
}

p {
	padding:0px;
	margin-top: 0px;
	margin-bottom: 0.9em;
}

.relatedboxcont p {
	margin:0px;
}

h1 {
	padding: 0;
	font-size: 1.3em;
	line-height: 1.3em;
	margin-top: 0px;
	margin-bottom: 0.65em;
}

h2 {
	font-size: 1.0em;
}

h3 {
	font-size: 1.0em;
	font-style: italic;
	font-weight:bold;
}

h4, h5, h6 {
	font-size: 1.0em;
	font-style: italic;
	font-weight:normal;
}

code {
  font-size: 1.0em;
}

.titel {
	font-weight: bold;
}

.italic {
	font-style: italic;
	font-weight:normal;
}

.klein, .teasertext {
	font-size: 0.95em;
	line-height: 1.3em;
}

.kleintitel {
	font-size: 0.95em;
	font-weight:bold;
}

.lead {
	color:#999999;
	font-size: 1.0em;
	font-weight:bold;
}

.urltext {
	color:#999999;
}

.attention {
  color: #cc3333;
}


/*link*/
a { 
	text-decoration: none;
	color:#333399;  
}

a:hover {
	background-color:#E9E9F0;
}

.contentarea a:visited, .contcol2 a:visited, .contentarea1col a:visited {
	color:#666666; 
}

a.arrow {
	background-image:url(arrow.gif);
	background-position:left top;
	padding-left:13px;
	background-repeat: no-repeat;
	padding-right:2px;
	margin-left:2px;
}

.relatedbox a.arrow, ul.squarelist li a,  .contentindex a, .klein a {
	background-image:url(arrow.gif);
	background-position:left top;
	padding-left:13px;
	background-repeat: no-repeat;
	padding-right:2px;
	margin-left:2px;
}

.relatedbox a.arrow,.contentindex a, .klein a {
	background-image:url(arrow4.gif);
	background-position:left top;
	padding-left:13px;
	background-repeat: no-repeat;
	padding-right:2px;
	margin-left:2px;
}

a.back {
	background-image:url(arrow_back.gif);
	padding-left:13px;
	background-repeat: no-repeat;
	padding-right:2px;
	margin-left:2px;
}

a.download {
	background-image:url(icon_download.gif);
	background-position:left top;
	padding-left:13px;
	background-repeat: no-repeat;
	padding-right:2px;
	margin-left:2px;
}

a.extern {
	background-image:url(icon_extern.gif);
	padding-left:13px;
	background-repeat: no-repeat;
	padding-right:2px;
	margin-left:2px;
}

img {
	border:0px;
}

img.icon {
	vertical-align: middle;	
}


/*header */
#headerarea {
	width:100%;
	display:block;
	background-color: #666699;
	height:90px;
	min-width:600px;
	width:expression(document.body.clientWidth &lt; 600  ? "600px": "auto");
}

.bodywidthnolimit #headerarea, .bodywidthnolimit .endheaderline, .bodywidthnolimit #primarnav, .bodywidthnolimit #toolnav {
	width:800px;
}

#headertitelpos {
	margin-left:6px;
	margin-right:195px;
}

.imgunilogo {
	background-color: #ccccff;
	padding-left:15px;
	height:45px;
}

.imginstitute {
	background-color: #666699;
	padding-left:15px;
	height:45px;
}

#headerarea h1 {
	color:#FFFFFF;
	font-size: 1.6em;
  	line-height: 1.4em;
	margin:0px;
	padding:0px;
}

#headerarea a {
	color:#FFFFFF;
}

#headerarea a:hover {
	background-color:transparent;
}

#headerarea h2 {
	margin-left:1px;
	margin-bottom:0px;
	font-size: 0.95em;
  	line-height: 1.4em;
	color:#FFFFFF;
	font-weight:normal;
	padding:0px;
}

.endheaderline {
	background-image: url(dot_line66.gif);
	margin-bottom:0px;
	height:1px;
}


/* NAVIGATION */

/*breadcrumbnavigation*/
#breadcrumbnav{ 
	margin-top:6px;
	margin-left:6px;
	margin-bottom:3px;
	text-align: left;
	color:#999; 
  	line-height: 1.4em;
    font-family: Verdana, sans-serif;
	font-size: 0.75em;
 	height:30px;
}

#breadcrumbnav a {
	color:#999;
}

#breadcrumbnav a:hover {
	color:#000;
	background-color:#fff;
}

/*service navigation zB. home, sitemap, search */
#servicenavpos {
	margin-right:12px;
	margin-bottom:0px;
	padding-top:2px;
	font-size: 0.75em;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	line-height: 1.5em;
	display:block;
	text-align: right;
	height:39px;
}

#servicenavpos a {
	padding:0px 2px;
}

#servicenavpos input {
	line-height: 1.2em;
	border: 0px;
	width: 100px;
	font-size: 1.0em;
  	font-family: Verdana, sans-serif;
	margin-left:2px;
	margin-right:2px;
	padding-left:2px;
}

#servicenavpos form {
	display:inline;
}

.serviceform  {
	display:inline;
	margin-left:3px;
}


/*primary navigation*/
#primarnav  {
  	font-size: 0.95em;
  	font-family: Arial, sans-serif;
	line-height: 1.8em;
	color:#666699; 
	display:block;
}

#primarnav a {
	float:left;
	padding:0px 7px;
	display:block;
}

/*
* html a.namedanchor {
	padding:0px;
}
*/

#primarnav a:hover {
	background-color:#E9E9F0;
}

#primarnav a.activ {
	background-color:#E9E9F0;
}

#primarnav .linkseparator {
	color:#666699;
	float:left;
}


/* linke spalte */
#col1 {
	width:165px;
	float:left;
	font-size: 0.95em;
	font-family: Arial, sans-serif;
	line-height: 1.3em;
	margin-right:20px;
}

* html #col1 {
  height:100px; /*damit ein leerer div auch von IE erkannt wird*/
  margin-right: 17px;
 }

/* Second navigation */
#secnav {
	line-height: 1.1em;  /* alt: 1.85em*/
}

.navup  {
	margin-top:1px;
	margin-bottom: 23px;
	display:block;
}

.navup a {
	display:block;
	background-image:url(icon_arrow_up.gif);
	padding-left:20px;
	background-repeat: no-repeat;
}

.navup .lead {
	padding-left: 7px;
	font-weight:bold;
	font-size: 1.0em;
	font-family: Arial, sans-serif;
	color:#333399;
}

.parentnav a {
	padding-left: 7px;
	display:block;
}

#secnav ul li a {
	padding-left: 7px;
  padding-bottom: 4px;
	padding-top: 4px;
	display:block;
}

#secnav a {
	display:block;
}

#secnav a:hover {
	background-color:#E9E9F0;
}

#secnav a.activ {
  	background-color:#E9E9F0;
}

#secnav ul, #secnav ul ul, #secnav ul ul ul, .content1 ul, .content2 ul, ul.squarelist, ul.linklist, ul.linknav  {
	width:100%;
	padding:0px;
	margin:0px;
	list-style-type:none;
}

#secnav li { 
	/*line-height: 2.5em;*/
}

/*third navigation*/
#secnav ul ul li a {
  padding: 4px 0px 4px 17px;
	width:148px;
}

/*forth navigation*/
#secnav ul ul ul li a {
  padding: 4px 0px 4px 27px;
	width:138px;
}

/*fifth navigation*/
#secnav ul ul ul ul li a {
  padding: 4px 0px 4px 37px;
	width:128px;
}

/*tool navigation zB. language,print,lupe*/
#toolnav  {
	font-size: 0.75em;
	line-height: 1.5em;
	font-family: Verdana, sans-serif;
	width:171px;
	height:51px;
	color:#666;
	float:right;
}

#toolnav a {
	color:#666; 
	padding: 0 2px;
}

#toolnav a:hover {
	background-color: transparent;
}

#toolnav a.active {
	color:#999;
}

.icontextpos {
	width:171px;
	height:18px;
	margin-top:8px;
}

#icontext {
	color:#333; 
	padding: 0 0 2px 3px;
	line-height: 1.6em;
}

.icontextbg {
	background-color:#E9E9F0;
}

.icontextnobg {
	background-color:#fff;
}

/*Quicklink */
#quicklink p {
	padding-left: 7px;
	margin-bottom: 0;
}

#quicklink ul {
	padding:0 0 0 7px;
	list-style-type:none;
	margin: 0;
}

#quicklink ul li a {
	background-image:url(arrow.gif);
	background-position:left top;
	padding-left:13px;
	background-repeat: no-repeat;
	display:block;
	width:145px;
}

#quicklink .titel, .content2 .titel, .content1 .titel {
	line-height: 1.5em;
	font-weight:bold;
}

/*Ortho navigation*/
#orthonav  {
	text-align:right;
	margin-bottom:20px;
}

#orthonav a {
  color:#333399; 
  padding:2px 6px;
  background-color:#E9E9F0;
  border-top: 1px solid #ccccff;
  border-right: 1px solid #ccccff;
  border-bottom: 1px solid #ccccff;
  font-size: 0.95em;
}

#orthonav a.inactive {
   color:#999;  
}

#orthonav a.active {
  background-color:#ffffff;
   color:#333;  
   border-bottom: 1px solid #fff;
}

#orthonav .spacer {
	padding-top:2px;
	padding-bottom:3px;
	border-right: 1px solid #ccccff;
}


/*Content*/
.contcol2 {
	min-width:400px;
	float: none;
	margin-left:185px;
}

* html .contcol2 {
  height: 1%;
  margin-left: 0px;
}

#col2_nolimit {
	margin-left:185px;
	margin-top:0px;
}

* html #col2_nolimit {
  margin-left: 0px;
  position:absolute; 
 }
 
.contentarea {
	margin-right:199px;
}

* html .contentarea {
  height: 1%;
  margin-right: 0px;
}

.content  {
}

.contentnolimit {
	width:615px;
	overflow: auto;
}

.content1 {
	width:198px;
	float: left;
	margin-right:20px;
}

.leadblock {
	display:block;
	font-weight:bold;
}

.leadimg {
	margin-right: 20px;
	margin-top:0px;
	float: left;
}

.leadimg_mittopmargin {
	margin-right: 20px;
	margin-top:5px;
	float: left;
}

.block_imgright {
	overflow:hidden;
	margin-bottom:20px
}

.imgTextflussRight {
	float: right;
	margin-left:20px;
	margin-top:4px;
	margin-bottom:5px;
}

* html .content1 {
  height: 1%;
  margin-right: 17px;
}

.content2 {
	float:left;
	width:198px;
	display:block;
}

* html .content2 {
  height: 1%;
  margin-left: 0px;
}

.content2 .klein {
	line-height:1.4em;
}

.content2 .titel {
	font-size: 0.95em;
}


/*sitemap*/
.navtitel a {
	font-weight:bold;
	line-height:1.8em;
	display:block;
	padding-left:7px;
	font-size: 0.95em;
}

ul.sitemap {
	font-size: 0.95em;
	width:100%;
	padding:0px;
	margin:0px;
	list-style-type:none;
}

ul.sitemap li { 
	line-height:1.85em;
}

ul.sitemap li a {
	padding-left: 7px;
	display:block;
	background-image:none;
	background-repeat: no-repeat;
}

ul.sitemap ul li a {
	padding-left: 20px;
	padding-right:0px;
	width:178px;
}

ul.sitemap ul ul li a {
	padding-left: 40px;
	padding-right:0px;
	width:158px;
}

ul.sitemap ul ul ul li a {
	padding-left: 60px;
	padding-right:0px;
	width:138px;
}


/*Related Box*/

.relatedbox {
	float:right;
	width:178px;
	margin-left:18px;
	padding-right:2px;
}

* html .relatedbox {
  height: 100px;
	margin-left:16px;
	padding-right:0px;
}

.relatedboxborder {
	width:178px;
	border: 1px solid #ccccff;
	margin-bottom:18px;
}

.relatedboxcont {
	padding: 8px 9px 10px 9px;
	line-height: 1.3em;
	font-size: 0.95em;
}

a.rss {
	background-image:url(arrow_rss.gif);
	background-position:left top;
	padding-left:13px;
	background-repeat: no-repeat;
	display:block;
	padding-top:4px;
	padding-bottom:4px;
}

.relatedboxcont a.rss {
	width:146px;
}


/*footer*/
.footermargintop {
	height:30px;
	clear:both;
}

#footer {
	margin-top:2px;
	font-size: 0.75em;
	font-family: Verdana, sans-serif;
	color:#999;
	line-height:1.4em;
}

.topnav {
	text-align: right;
	margin-bottom:7px;
}

.topnav a {
	background-image:url(arrow_top.gif);
	margin-right:7px;
	background-repeat: no-repeat;
	background-position:left;
	font-size: 0.95em;
	padding-left:12px;
}


/*list element*/

ul.type1, ol.type1, ol.type2 {
  padding-left:1.5em;
}
  
ul.type2, ul.type3  {
  list-style-type:none;
  padding-left:0;
}
 
ul.type2 li {
	background-image: url(list_square.gif);
	background-position: 0.5em 0.6em;
	background-repeat: no-repeat;
	padding-left:1.5em;
}

ul.type3 li {
	background-image: url(list_hyphen.gif);
	background-position: 0.5em 0.75em;
	background-repeat: no-repeat;
	padding-left:1.5em;
}

/*
ul.type3 li {
padding-left:1.5em;

}

ul.type3 li:before { 
  margin-left: -0.6em;
  display: marker;
  content: "- ";
}
*/

ol.type2, ol.type1 li ol.type1  {
  list-style-type:lower-alpha;
}
  
ol.type2 li ol.type2 {
list-style-type: decimal;
}

/*list styles for IE */

* html ul.type1 {
  padding-left:0;
  margin-left:1.5em;
}
  
* html ul.type2, * html ul.type3  {
  list-style-type:none;
  padding-left:0;
  margin-left:0;
}

* html ol.type1, * html ol.type2 {
  padding-left:0;
  margin-left:0.6em;
}
  
* html ol.type1 li, * html ol.type2 li {
  padding-left:0;
  margin-left:1.8em;
}

ul.linknav {
	font-size:0.95em;
}

.content1 ul.linknav li a, .content2 ul.linknav li a {
	background-image:url(arrow6.gif);
	background-position: left top;
	padding:3px 0 2px 13px;
	background-repeat: no-repeat;
	display:block;
	line-height: 1.2em;
	width: 185px;
}

.listarrow {
	float:left;
	width:15px;
}

ol {
	margin-top: 0;
}

* html ol  {
	margin-left:20px;
}

* html ol li {
	margin-left:25px;
}

ol.list a {
	background-image:url(arrow.gif);
	padding-left:13px;
	background-repeat: no-repeat;
	background-position: left top;
}

/*linkliste*/
.linktext {
	font-size: 1.0em;
	line-height:1.6em;
	float:left;
	width:300px;
}

.linkrow {
	display:block;
	width:100%;
}

.linkrow a {
	background-image:url(icon_extern.gif);
	padding-left:13px;
	font-size: 1.0em;
	line-height:1.6em;
	background-repeat: no-repeat;
	padding-right:2px;
}


/*image*/
.imgTextfluss a, .imgMitLegende a, .imgMitLegende a, .imgTeaser a, .imgLupeFullImg a, .imgLupehalfImg a{
	background-image:none;
	padding:0px;
	margin:0px;
}

.legende {
	font-size: 0.95em;
	font-style: italic;
	padding-left:6px;
	padding-bottom:18px;
	line-height:1.3em;
}

.imgTextfluss .legende {
	display:block;
	width:198px;
}

.imgTextfluss {
	float: left;
	margin-right:10px;
	background-color:#E9E9F0;
	display:block;
	margin-top:5px;
}

.imgMitLegende {
	background-color:#E9E9F0;
	margin-bottom:5px;
	margin-top:5px;
}

*html .imgMitLegende {
	margin-top:14px;
}

.fullimgMitLegende {
	background-color:#E9E9F0;
	margin:14px 0 5px 0;
	width:415px;
}

.imgTeaser {
	float: left;
	margin-right:10px;
	margin-top:5px;
}

.imgLupeFullImg {
	position:absolute; 
	width:15px; 
	height:15px; 
	z-index:5; 
	margin-left: 395px; 
	margin-top: 10px;
}

.imgLupehalfImg {
	position:absolute; 
	width:15px; 
	height:15px; 
	z-index:5; 
	margin-left: 184px; 
	margin-top: 10px;
}

.fullimgMitLegende .imgLupeFullImg, .imgTextfluss .imgLupehalfImg {
	margin-top: 5px;
}

.imgpadding {
	margin-top:5px;
	margin-bottom:0px;
	padding:0px;
}

.teaserImg {
	margin-bottom:3px;
}

*html .teaserImg {
	margin-bottom:6px;
}

.teaser64long {
	height:64px;
}

/* artikel Textumfluss*/

.titelImgBlock {
	min-height:125px;
}

.titelImg {
	float: left;
	margin-right:10px;
	margin-top:5px;	
}

.titelImgBlock .solidlinemitmargin {
	margin: 9px 0 0 0;
}

.artikelmitImg {
	min-height:64px;
}

/* team 2 blocke */
.teamBlock {
	padding-top:9px;
	padding-bottom:9px;
}

.teamImg {
	margin-top:5px;
	float:left;
	width:120px;
}

.teamText {
	float:left;
	width:290px;
}

.floatleftclear {
	clear:left;
	line-height:1px;
}

.floatrightclear {
	clear:right;
	line-height:1px;
}

/* form*/
form {
	margin: 0px;
	border: 0px;
	padding:0px;
}

form h2.subtitel {
	line-height: 1.5em;
	padding-top:15px;
	padding-bottom: 9px;
	margin-bottom:0px;
	font-size: 1.0em;
}

form h3 {
	line-height: 1.5em;
	padding-bottom: 4px;
	font-size: 1.0em;
}

.fieldarea {
	background-color: #f0f0f0;
	border-bottom: 2px solid #fff;
	display:block;
	line-height: 28px;
	font-size: 1.0em;
}

* html .fieldarea {
	width: auto; 
	height: auto;
}

.fieldarea label {
	display:block;
	margin-left: 7px;	
	line-height: 1.5em;
	margin-right:170px;
	padding-top:6px;
	padding-bottom: 4px;
}

.fieldarea input {
	float: right;
	margin: 4px 6px 0 0;
	width: 165px;
  	font-size: 1.0em;
  	font-family: Arial, sans-serif;
	line-height: 1.5em;
	padding-left:2px;
	border-top:1px solid #696969;
	border-left:1px solid #696969;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.fieldarea input.inputbreit {
	width: 254px;
}

.optionblock {
	float: right;
	margin-top:4px;
	margin-right:6px;
	width: 165px;
  	font-size: 1.0em;
  	font-family: Arial, sans-serif;
	line-height: 1.5em;
	display:block;
}

input.optiontag {
	float:none;
	width: auto;
	display:inline;
	border:0px;
	padding:0px;
	margin-left:10px;
	border:0px;
	height:15px;
}

.submitbutton {
	text-align:center;
	margin-top:13px;
	padding:0px 5px;
	line-height: 1.2em;
	font-size: 0.95em;
	font-family: Arial, sans-serif;
	height:19px;
 	color:#555555;  
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #696969;
	border-bottom:1px solid #696969;
	background-color: transparent;
}

.submitbuttonPosMiddle {
	margin-left:159px;
}

.submitbuttonPosLeft {
	margin-left:6px;
}

.submitbuttonPosRight {
	margin-left:359px;
}


/*search*/
#formsearchcontent {
	background-color: #f0f0f0;
	padding-top:6px;
	padding-left:4px;
}
	

form .endheaderline {
	margin-top:10px;
}
.searchtextblock {
	margin-bottom:10px;
}
input.searchfield {
	margin-right: 8px;
	width: 290px;
  	font-size: 1.0em;
  	font-family: Arial, sans-serif;
	line-height: 1.5em;
	padding-left:2px;
	border-top:1px solid #696969;
	border-left:1px solid #696969;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;

}
.searchtextblock .submitbutton {
	margin-top:0px;
}
.searchoptionblock {
	display:inline;
	margin-right: 10px;
}
input.searchoption {
	display:inline;
	border:0px;
	padding:0px;
	border:0px;
	height:15px;
}
/*table*/
.tablestyle1 {
	font-size: 0.95em;
}
.tablestyle2 {
	font-size: 0.95em;
	border-bottom:1px solid #999;
	border-left:1px solid #999;
}
 .tabletitel1 {
	height:30px;
	font-weight:bold;
	font-size: 0.95em;
	background-color: #f0f0f0;
	padding-left:4px;
}
 .tabletitel2 {
	height:30px;
	font-weight:bold;
	font-size: 0.95em;
	background-color: #f0f0f0;
	padding-left:4px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
.tablestyle2 td {
	border-right:1px solid #999;
}
.tablestyle2 p {
	margin-left:4px;
}
tr {
  vertical-align: top; 
}
th {
	height:30px;
}
.tablestyle2 th {
	height:30px;
	border-right:1px solid #999;
}
.tablestyle2 th {
	border-right:1px solid #999;
}
th.width170 {
	width:170px;
}
.tablestyle2 th.width170 {
	border-right:1px solid #999;
}
th.width105 {
	width:105px;
}
.solidlinetable {
	background-color: #999999;
	height:1px;
	width:100%;
	margin:26px 0 0 0;
	border:0px;
}
.trstripe{
	background-color: #f0f0f0;
}
table.grid {
       border-collapse:collapse; 
       margin: 0px auto 0px auto;
}

table.grid tr td {
  border: 1px solid #999;
}

table.grid {
	border-width: 1px;
	border-spacing: 3px;
	border-style: solid;
	border-color: #999;
	border-collapse: collapse;
}

table.grid th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999;
}

table.grid td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999;
}

tr.strip {
  background-color: #f0f0f0;
}

table.imgMitLegende tr td img {
  padding: 0px;
}

/* Misc*/

.floatclear {
	clear:both;
}
.solidline {
	background-color: #999999;
	height:1px;
	width:100%;
	margin:0px;
  margin-top:3px;
	border:0px;
}

.content .solidline {
	background-color: #cccccc;
}
.solidlinemitmargin {
	background-color: #cccccc;
	height:1px;
	width:100%;
	margin: 1.7em 0 0 0;
	border:0px;
}
.solidlinelist {
	margin: 12px 0 9px 0;
	background-color: #cccccc;
	height:1px;
	width:100%;
	border:0px;
}
.dotline {
	background-image: url(dot_line66.gif);
	width:100%;
	height:1px;
	border:0px;
	margin:0px;
}
.dotlinelead {
	background-image: url(dot_line66.gif);
	width:100%;
	height:1px;
	border:0px;
	margin: 0.2em 0 0.7em 0;
}
.dotlinemitmargin {
	background-image: url(dot_line66.gif);
	width:100%;
	height:1px;
	border:0px;
	margin: 0.65em 0;
}

.editview {
  background-color: #ccc;
  min-height: 80px;
}

/* uni additions */


 /*Ortho navigation*/

#orthonav  {
  margin-right:198px;
}

#orthonav a {
  border-left: 1px solid #ccccff;
  font-size: 11px;
}

/* image upload */
.upload_block {
	overflow:hidden;
}

/* floating image */
.img_block {
	overflow:hidden;
}

/* right-aligned image */
.imgTextflussLeft .legende {
	display:block;
}

.imgTextflussLeft {
	float: right;
	margin-left:10px;
	background-color:#E9E9F0;
	display:block;
	margin-top:4px;
	margin-bottom:5px;
}

.imgTextflussLeft a {
	background-image:none;
	padding:0px;
	margin:0px;
}

.imgTextflussLeft .imgLupehalfImg {
	margin-top: 5px;
}

.imgRightMitLegende {
	float: right;
	background-color:#E9E9F0;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:10px;
}

.imgRightMitLegende a {
	background-image:none;
	padding:0px;
	margin:0px;
}

* html .imgRightMitLegende {
	margin-top:14px;
}

table.imgRightMitLegende tr td img {
  padding: 0px;
}

#servicenavpos input {    /* zu kleine Schrift im Suchfeld koorrigiert*/
  	font-size: 1.0em;
}
