@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* -------------------- Toolbar Buttons  -------------------- */
/* for gnome icons see bin/share/icons/gnome/24x24/stock/generic */
/* note: rect(top_edge right_edge bottom_edge left_edge) */

toolbox[showiconsonly="true"] .toolbarbutton-text {
  display: none;
}

#uiFileOperationNew {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-new.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiFileOperationNew > dropmarker {
  display: none !important;
}

#uiFileOperationNew[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiFileOperationNew[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiFileOperationOpen {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-open.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiFileOperationOpen > dropmarker {
  display: none !important;
}

#uiFileOperationOpen[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiFileOperationOpen[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiFileOperationSave {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-save.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiFileOperationSave > dropmarker {
  display: none !important;
}

#uiFileOperationSave[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiFileOperationSave[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiFileOperationSaveAs {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-saveas.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiFileOperationSaveAs > dropmarker {
  display: none !important;
}

#uiFileOperationSaveAs[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiFileOperationSaveAs[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}

#uiFileOperationUpload {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-upload.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiFileOperationUpload[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiFileOperationUpload[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}

#uiEditOperationUndo {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-undo.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiEditOperationUndo[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiEditOperationUndo[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiEditOperationRedo {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-redo.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiEditOperationRedo[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiEditOperationRedo[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiEditOperationCut {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-cut.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiEditOperationCut[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiEditOperationCut[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiEditOperationCopy {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-copy.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiEditOperationCopy[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiEditOperationCopy[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}


#uiEditOperationPaste {
  list-style-image: url("chrome://yulup/skin/icons/themes/Industrial/yulup-paste.png");
  -moz-image-region: rect(0px 25px 23px 0px);
  -moz-box-orient: vertical;
}

#uiEditOperationPaste[disabled="false"]:active {
  -moz-image-region: rect(24px 25px 47px 0px);
}

#uiEditOperationPaste[disabled="true"] {
  -moz-image-region: rect(48px 25px 71px 0px);
}
