
body {
  display: block;
  overflow: -moz-scrollbars-vertical;
  font-family: -moz-fixed;
  white-space: nowrap;
  margin: 0px 0px 0px 0px;
}

#fringeContainer {
  display: block;
  position: absolute;
  left: 0px;
  width: 2em;
  padding-right: 6px;
  margin-left: 2px;
  z-index: 3;
  -moz-user-select: none;
  color: gray;
  border-bottom: 1p solid black;
  background: orange;
}

#contentContainer {
  display: block;
  position: relative;
  overflow: auto;
  left: 3em;
  bottom: 0px;
  height: auto;
  z-index: 1;
}

.warning {
  background: yellow;
}

/*
.warning:before {
  content: "! ";
}
*/

.error {
  background: red;
}

/*
.error:before {
  content: url("chrome://test/content/dialog-error-10x10.png");
  vertical-align: middle;
  text-align: left;
  height: 1ex;
}
*/

#fringeContainer > span {
  display: block;
  width: auto;
  text-align: right;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
  -moz-border-radius: 40%;
  margin: 0px 0px 0px 0px;
}
