@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ------------------------ Bindings ------------------------ */

#uiYulupAtomSidebarPage {
  -moz-binding: url('chrome://yulup/content/atomsidebar/atomsidebar.xml#atomsidebar');
}

#uiYulupAtomSidebarFeedEntriesTree {
  -moz-binding: url('chrome://yulup/content/atomsidebar/atomsidebar.xml#atomentriestreeview');
}


/* ------------------------ General ------------------------- */

caption {
  font-size: x-small;
}


/* ----------------- Feed Information Deck ------------------ */

.uiYulupAtomSidebarFeedError {
  text-align: center;
  white-space: normal;
  font-weight: bolder;
  margin: 0px 0px 0px 0px;
}

#uiYulupAtomSidebarFeedLoadingThrobber {
  -moz-appearance: none;
  -moz-user-focus: ignore;
  background-color: transparent;
  padding: 4px 4px 4px 4px;
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
}

#uiYulupAtomSidebarFeedLoadingThrobber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.gif");
}
