@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ------------------------ Bindings ------------------------ */

canvasbutton {
  -moz-binding: url('chrome://yulup/content/canvasbutton.xml#canvasbutton');
  -moz-appearance: toolbarbutton;
  -moz-box-orient: vertical;
  margin: 1px 2px 1px 2px;
  padding: 2px 1px 2px 1px;
}

canvasbutton[disabled="true"] {
  color: graytext !important;
}
