@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ------------------------ Bindings ------------------------ */

#uiYulupNeutronSidebarPage {
  -moz-binding: url('chrome://yulup/content/neutronsidebar/neutronsidebar.xml#neutronsidebar');
}


/* ------------------------ General ------------------------- */

caption {
  font-size: x-small;
}

.tooltipDescription {
  font-weight: bolder;
  margin-right: 4px;
}
