@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.sitetreeTree treechildren::-moz-tree-image(collection) {
  list-style-image: url("chrome://yulup/skin/icons/sitetree-collection.png");
  padding-right: 3px;
}

.sitetreeTree treechildren::-moz-tree-image(collection-unavailable) {
  list-style-image: url("chrome://yulup/skin/icons/sitetree-collection-unavailable.png");
  padding-right: 3px;
}
