@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* -------------------- Toolbar Buttons  -------------------- */
/* for gnome icons see bin/share/icons/gnome/24x24/stock/generic */
/* note: rect(top_edge right_edge bottom_edge left_edge) */

#uiYulupEditToolbarbutton {
  -moz-box-orient: vertical;
}

#uiYulupEditToolbarbutton[introspection="no"] {
  list-style-image: url("chrome://yulup/skin/icons/yulup-edit.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#uiYulupEditToolbarbutton[introspection="ok"] {
  list-style-image: url("chrome://yulup/skin/icons/yulup-edit-green.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#uiYulupEditToolbarbutton[introspection="warn"] {
  list-style-image: url("chrome://yulup/skin/icons/yulup-edit-red.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#uiYulupEditToolbarbutton[disabled="true"] {
  -moz-image-region: rect(64px 32px 96px 0px) !important;
}

#uiYulupEditToolbarbutton[disabled="false"]:active {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}


toolbar[iconsize="small"] > #uiYulupEditToolbarbutton {
  -moz-box-orient: vertical;
}

toolbar[iconsize="small"] > #uiYulupEditToolbarbutton[introspection="no"] {
  list-style-image: url("chrome://yulup/skin/icons/yulup-edit-small.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

toolbar[iconsize="small"] > #uiYulupEditToolbarbutton[introspection="ok"] {
  list-style-image: url("chrome://yulup/skin/icons/yulup-edit-small-green.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

toolbar[iconsize="small"] > #uiYulupEditToolbarbutton[introspection="warn"] {
  list-style-image: url("chrome://yulup/skin/icons/yulup-edit-small-red.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

toolbar[iconsize="small"] > #uiYulupEditToolbarbutton[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}

toolbar[iconsize="small"] > #uiYulupEditToolbarbutton[disabled="false"]:active {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}


#uiYulupEditToolbarbutton > dropmarker {
  display: none !important;
}
